.App{
  text-align: center;
}

.dashnav{
  margin-top: 25px;
  text-align: right;
  margin-right: 50px;
  margin-bottom: 80px;
}
.notifications{
  display: inline;
  margin-left: 10px;
}
.ulNotif{
  width: 150px;
  margin-left: 90%;
  list-style: none;
  text-align: center;
  
}
table{
  width: 90%;
}
table, th, td, tr{
  color: white;
  border: 1px solid orange;
  border-collapse: collapse;
}
td{
  border: 2px solid orange;
  background-clip: padding-box;
  border-radius: 20px;
}
th, td {
  padding: 5px;
  text-align: left;    
}
.table_container{
  display: flex;
}
.userTable{
  margin: 0px;
  
}
.prevTable{
  float: left;
  margin-top: auto;
  margin-bottom: auto;
  
 
}
.nextTable{
  float: right;
  margin-top: auto;
  margin-bottom: auto;
  
}
.nextTable, .prevTable{
  height: 75px;
}
.clear{
  clear: both;
}
.working{
  background-color: blue;
}
#forty{
  background-color: indigo;
}
.avaibleShift{
  background-color: chartreuse;
}
.SelectedShift{
  background-color: green;
}
.swapContainer{
  border: 2px solid black;
  padding: 20px;
  text-align: center;
}
.swapContainer{
  border: 2px solid black;
  padding: 20px;
  text-align: center;
}
.ownerpage{
  padding-bottom: 20px;
}
h4{
  margin-top: 0px;
  margin-bottom: 0px;
}
.ulOwner{
  padding-top: 75px;
  list-style: none;
  margin-bottom: 75px;
  color: rgb(231, 203, 203);
}
/* li { color: aliceblue; } */
li:nth-child(odd) { background-color: rgba(118,135,152,.5); }
.createSchedules{
  font-size: 32px;
  padding: 20px;
  margin-bottom: 100px;
  border-radius: 10px;
  background-color: mediumblue;
}
.requestChanges{
  border: 1px solid black;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  background-color: white;
}
h2{
  margin-top: 0px;
  padding-top:20px;
  margin-bottom: 0px;
  background-color: rgb(226, 143, 19);
}
hr{
  margin-top: 1px;
  /* width: 90%;
  margin-right: auto;
  margin-left: auto; */
}
.revision{
  margin-bottom: 23px;
  border: 1px solid darkgray;
  width: 94%;
  margin-right: auto;
  margin-left: auto;
  background-color: navajowhite;
  padding-top: 10px;
  padding-bottom: 10px;
}
.changee{
  background-color: red;
  
}
.receiver{
  background-color: lime;
 
}
.SCRButtons{
  margin-top: 5px;
}
.createForm{
  border: 3px solid white;
  text-align: center;
  color: aliceblue;
  
}
.createInput{
  display: inline-block;
  margin-bottom: 10px;
}
.createLabel{
  width: 13em;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}
.hidden{
  display: none;
}
.SignUp{
  color:white;
  font-size: 32px;
}
.SignUp button{
  padding: 8px;
  background-color: teal;
  color: wheat;
  margin-left: 15px;
}
.logout{
  font-size: 20px;
    background-color: rgb(50, 161, 205);
    border: none;
    border-radius: 10px;
    padding: 5px;
    color: rgb(0, 255, 115);
    text-decoration: none;
}
.displayWeek{
  color: aliceblue;
}
.createpage {
  padding: 7px;
  font-size: 15px;
  margin-top: 15px;
  margin-left: 5px;
  margin-bottom: 15px;
  width: 10%;
  background-color: rgb(50, 161, 205);
}